app/__pycache__
~$siness_Insights_Generator.docx
Business_Insights_Generator.docx
CODE_REVIEW.md
DETAILED_README.md
MODELS_DETAILED_EXPLANATION.md
SETUP_GUIDE.md

frontend/__pycache__
frontend/README.md
